<div style="display: flex; justify-content: center; text-align: center">
  <div>
    <h1>Welches Wallbox-Modell hast du?</h1>
    <ion-list>
      <ion-item>
        <ion-select aria-label="wallbox-type" interface="popover" placeholder="Modell auswählen">
          <ion-select-option value="apples">ABB Terra AC</ion-select-option>
          <ion-select-option value="oranges">VW ID Charger²</ion-select-option>
          <ion-select-option value="bananas">keine Ahnung</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h1 style="margin-top: 10%">Welchen Steckertyp kannst du anbieten?</h1>
    <ion-list>
      <ion-item>
        <ion-select aria-label="socket-type" interface="popover" placeholder="Steckertyp auswählen">
          <ion-select-option value="apples">Type 1</ion-select-option>
          <ion-select-option value="oranges">Type 2</ion-select-option>
          <ion-select-option value="bananas">CCS1</ion-select-option>
          <ion-select-option value="bananas">CCS2</ion-select-option>
          <ion-select-option value="bananas">CHAdeMO</ion-select-option>
          <ion-select-option value="bananas">230V Plug</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div style="margin-top: 15%">
      <ion-button (click)="next()">Weiter</ion-button>
    </div>
  </div>
</div>
