<div style="display: flex; justify-content: center; text-align: center">
  <div>
    <h1>Welches Wallbox-Modell hast du? (ABB Terra AC, VW ID Charger² ...)</h1>
    <h1>Welche Art von Steckertyp kannst du anbieten?</h1>
    <p>Type 1, Type 2, CCS1, CCS2, CHAdeMO, 230V Plug</p>
    <h1>Was ist der DC-Ausgang deiner Wallbox? in kW</h1>
    <h1>
      Was ist dein individueller Preis für das Laden an deiner Wallbox? in
      cent/kWh
    </h1>
    <h1>Ist an deiner Wallbox ein Ladekabel vorhanden?</h1>
    <h1>Stellplatz vorhanden? Nur Stellplatz ohne Laden? Wenn ja Preis?</h1>
    <h1>Zahlungsart</h1>
    <div style="margin-top: 15%">
      <ion-button (click)="next()">Weiter</ion-button>
    </div>
  </div>
</div>
