<div style="display: flex; justify-content: center; text-align: center">
  <div>
    <h1>Was ist der DC-Ausgang deiner Wallbox? in kW</h1>
    <ion-range labelPlacement="end" [pin]="true" [pinFormatter]="pinFormatter" (ionChange)="onIonChange($event)" [value]="lastEmittedValue">
      <div slot="label">{{ lastEmittedValue }} kW</div>
    </ion-range>
    <h1>
      Was ist dein individueller Preis für das Laden an deiner Wallbox? in
      cent/kWh
    </h1>
    <div style="margin-top: 15%">
      <ion-button (click)="next()">Weiter</ion-button>
    </div>
  </div>
</div>
