<div style="display: flex; justify-content: center; text-align: center">
  <div>
    <ion-icon name="location-outline" size="large"></ion-icon>
    <h1>
      Was müssen deine Gäste wissen? Z.B. „Wallbox steht hinter der Garage“
      <br />oder „Mein Hund beißt nicht“ etc. Hinterlasse einen Kommentar für
      deine Gäste.
    </h1>
    <ion-list>
      <ion-item>
        <ion-textarea
          placeholder="Type something here"
          [autoGrow]="true"
          value=""
        >
        </ion-textarea>
      </ion-item>
    </ion-list>
    <div style="margin-top: 15%">
      <ion-button>Speichern</ion-button>
    </div>
  </div>
</div>
