<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Wall.com
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div style="display: flex; align-items: center">
      <ion-icon name="options-outline" size="large"></ion-icon>
      <ion-searchbar [debounce]="1000" animated="true" placeholder="Nach Standort suchen" color="primary" [(ngModel)]="typedSearch" (ionInput)="handleChange()"></ion-searchbar>
      <ion-icon name="location-outline" size="large" (click)="setCurrentPosition()"></ion-icon>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of searchResults" (click)="itemSelected(item)">
        <ion-label>{{ item.properties.display_name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-osm-map2 [selectedLocation]="selectedLocation"></app-osm-map2>
</ion-content>
