<ion-header>
  <ion-toolbar>
    <ion-title>Wallbox hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; justify-content: center; text-align: center">
    <div>
      <ion-icon name="location-outline" size="large"></ion-icon>
      <h1>Wie lautet die Adresse deiner Wallbox?</h1>
      <ion-list>
        <ion-item>
          <ion-input label="Adresse" labelPlacement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
      </ion-list>
      <div style="margin-top: 15%">
        <ion-nav-link router-direction="forward" [component]="component">
          <ion-button>Weiter</ion-button>
        </ion-nav-link>
      </div>
    </div>
  </div>


</ion-content>
